/node_modules
/public/hot
/public/storage
/public/config_empresa
/public/contratos
/public/imagenes_contratos
/public/imagenes_roles
/public/roles_pago
/public/svg
/public/storage/logs
/storage/logs
/storage/*.key
/app/helpers.php
/config/database.php
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
/resource/views/layouts/prueba.blade.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache